.post-list-item{
    list-style: none;
    min-height: 100px;
    border: solid black 2px;
    margin-bottom: 8px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: whitesmoke;
}
.actual-post-list-container{
    
    display: inline-block;
    margin-right: 20px;
    height: 100%;
    /* overflow-y: scroll; */
}
.post-list-container {
    max-width: 550px;
    max-height: 600px;
    min-width: 500px;
    min-height: 600px;
    overflow-y: scroll;
    border: solid black 2px;
    background-color: slategray;
    
}

.post-list-header {
    margin-top: 60px;
}

.post-media{
    width: 100%;
    margin-top: 5px;
}

.post-list-ul {
    height: 100%;
    padding: 0px;
}

.date-span {
    display: block;
    padding-top: 5px;
}

.date-span:hover {
    color: black
}

.no-recent-posts {
    display: block;
    font-size: 20px;
    margin-top: 10px;
}

@media only screen and (max-width: 1046px) {
    .actual-post-list-container{
        margin-right: 0px;
    } 
}

@media only screen and (max-width: 500px) {

    .post-list-container {
        min-width: 316px;
        /* max-height: 100%;
        min-height: 200px; */
        max-height: 100%;
        min-height: 100%;
        /* margin-bottom: 50px; */
    }

    .post-list-header {
        margin-top: 30px;
        font-size: 20px;
        margin-bottom: 10px;
        display: none;
    }

    .post-list-item{
        font-size: 10px;
        min-height: 75px;
    }
  }

  @media only screen and (max-width: 375px) {

    .post-list-container {
        
        max-height: 95%;
        min-height: 95%;
        
    }


  }

  @media only screen and (max-width: 320px) {

    .post-list-container {
        
        max-height: 90%;
        min-height: 90%;
        
    }


  }

  

