.event-form {
    width: 400px;
    height: 400px;
    border: dotted cadetblue 3px;
    text-align: center;
}

.add-event-submit-button{
    font-size: 20px;
    margin-right: 20px;
    margin-top: 75px;
    width: 80px;
}

.add-event-cancel-button{
    font-size: 20px;
    width: 80px;
}

.add-event-form-fields {
    margin-left: 5px;
    
}

.add-event-form-section {
    padding: 5px;
    width: 100%;
}

.event-date {
    
    width: 35px;
    height: 20px;
    /* display: inline-block;
    text-align: top; */
}

.event-date-label {
    display: inline-block;
}

.add-event-date-form-section {
    padding: 5px;
    width: 60%;

}

.date-div {
    display: inline-block;
    border: solid black 3 px;
}

@media only screen and (max-width: 500px) {
    .event-form {
        width: 300px;
        text-align: left;
    }
    
}