.event-form {
    width: 400px;
    height: 400px;
    border: dotted cadetblue 3px;
    text-align: center;
}

.add-event-submit-button{
    font-size: 20px;
    margin-right: 20px;
    margin-top: 75px;
    width: 80px;
}

.add-event-cancel-button{
    font-size: 20px;
    width: 80px;
}