.event-list-item{
    list-style: none;
    min-height: 100px;
    border: solid black 2px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 8px;
    background-color: whitesmoke;
}

.event-list-container {
    max-width: 550px;
    max-height: 600px;
    min-width: 500px;
    min-height: 600px;
    overflow-y: scroll;
    border: solid black 2px;
    background-color: slategray;
}

.actual-event-list-container{
    
    display: inline-block; 
}

.event-list-ul {
    height: auto;
    padding: 0px;
}

.event-media{
    width: 25%;
    margin-top: 5px;
}

.event-media:hover{
    width: 500px;
}

@media only screen and (max-width: 500px) {

    .event-list-container {
        
        min-width: 280px;
        
        
    }

    .event-media:hover{
        width: 300px;
    }
  }