.feeds{
    display: block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    
}

.mobile-feed-headers {
    display: none;
}

.mobile-feed-container {
   display: inline-block; 
}

@media only screen and (max-width: 500px) {

    .mobile-feed-headers {
        display: inline-block;
        margin-top: 25px;
        width: 50%;
        padding-bottom: 10px;
        
    }
    .feeds{
        margin-bottom: 0px;
        height: 100%;
    }
    
  }