.logo {
    height: 74px;
    background-color: white;
    /* padding-bottom: 2px; */
}

.logo-image {
    height: 100%;
}

.logo-text {
    color: black;
    background-color: white;
    display: inline-block;
}

@media only screen and (max-width: 500px) {
    .logo-image {
        width: 280px;
        height: 100%;
        margin-top: 0px;
    }

    .logo {
        height: 40px;
    }
    
} 