.logo {
    height: 74px;
    background: linear-gradient(to bottom, #708090 0%, #ffffff 100%);
    /* padding-bottom: 2px; */
}

.logo-image {
    height: 100%;
    border-left: solid black 3px;
    border-right: solid black 3px;
}

.logo-text {
    color: black;
    display: inline-block;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    margin-top: 10px;
}

@media only screen and (max-width: 500px) {
    .logo-image {
        width: 280px;
        height: 100%;
        margin-top: 0px;
    }

    .logo {
        height: 40px;
    }

    .logo-text {
        margin-top: 0px;
        font-size: 30px;
    }
    
} 