.home {
    text-align: center;
    max-width: 1500px;
    min-width: 290px;
    margin-left: auto;
    margin-right: auto;
    border: solid black 2px;
    position: relative;
    background-color: lightgrey
}

main {
    text-align: center;
    width: 100%;
}
/* 
@media only screen and (max-width: 500px) {
    .home {
        width: 320px;
        margin-right: 0px;
        padding-right: 0px;
    }
} */
