.band-list {
    width: 350px;
    height: 400px;
    display: inline-block;
    border: solid white 2px;
    overflow: hidden;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    background-color: black;
    text-align: center;
}

.band-list:hover .the-bands {
    width: 75%;
    border-bottom-color:  brown;
}

.register-band {
    width: 350px;
    height: 400px;
    display: inline-block;
    border: solid white 2px;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: black
    
}

.home-home {
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    border: solid white 2px;
    background-color: rgba(77, 8, 8, 0.808);
    color: white;
    /* position: relative; */
}

.row-container {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.register-band-button {
    font-size: 18px;
    display: inline;
    /* position: absolute;
    left: 29%;
    bottom: 5px; */
    border-radius: 2%;
    font-family: 'Duru Sans', sans-serif;
}
.button-container {
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 100%;
}

.home-banner {
    height: 200px;
    background-color: brown;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.home-banner-text {
    display: block; 
    font-size: 60px;
    font-family: 'Hammersmith One', sans-serif;
}

.banner-text-container {
    margin-top: 75px;
    display: inline-block;
}

.all-bands-list-item {
    font-size: 25px;
    list-style: none;
    margin-top: 8px;
}

.all-bands-list-item a {
    transition: color 1s;
}

.all-bands-list-item a:link {
    text-decoration: none;
}

.all-bands-list-item a:visited{
    text-decoration: none;
    color: rgb(248, 87, 58);
}

.all-bands-list-item a:hover {
    color: white;
}

.all-bands-list-item a:active {
    text-decoration: underline;
}
 
.all-bands-list {
    padding-left: 0;
    background-color: black;
    
}

.the-bands {
    font-family: 'Duru Sans', sans-serif;
    font-size: 20px;
    border-bottom: solid white 2px;
    transition: border-bottom-color 1s, width 1s;
    /* transition: width 1s; */
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

.the-venues {
    font-family: 'Duru Sans', sans-serif;
    font-size: 20px;
}

@media only screen and (max-width: 700px) {
    .home-banner-text {
        font-size: 50px;
    }

    .home-banner {
        height: 100px;
        
    }

    .banner-text-container {
        margin-top: 25px;
    }
    
}

@media only screen and (max-width: 500px) {
    .band-list {
        width: 265px;
    }
    .register-band {
        width: 265px;
    }

    .home-banner {
        height: 80px;
        
    }

    .home-banner-text {
        font-size: 32px;
    }

    .home-home {
        margin-top: 10px;
    }

    .the-bands {
        width: 50%;
    }

    .all-bands-list-item {
        font-size: 20px;
        
    }
    
}
