.band-list {
    width: 100%;
    height: 400px;
    display: block;
    /* border-top: solid white 2px;
    border-bottom: solid white 2px; */
    overflow: hidden;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    background-color: brown;
    text-align: center;opacity: 0.8;
}

.band-list:hover .the-bands {
    width: 75%;
    border-bottom-color:  brown;
}

.band-list-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.bands-loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.single-band-containter{
    height: 100px;
    width: 280px;
    background-color: blanchedalmond;
    margin: 10px;
    transition: transform 0.5s, box-shadow 0.5s;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.3);
}

.single-band-containter:hover{
    transform: translate(-2px, -2px);
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.3);
}

.register-band {
    width: 100%;
    height: 400px;
    display: block;
    /* border-top: solid white 2px;
    border-bottom: solid white 2px; */
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: brown;
}

.register-band:hover .the-venues {
    width: 75%;
    border-bottom-color:  brown;
}

.home-home {
    text-align: center;
    /* max-width: 800px; */
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 75px; */
    /* border: solid white 2px; */
    background-color: rgba(77, 8, 8, 0.808);
    color: white;
    height: 100%;
    /* position: relative; */
}

.row-container {
    display: block;
    /* padding-left: 10px;
    padding-right: 10px; */
    /* height: 100%; */
}

.register-band-button {
    font-size: 16px;
    display: inline-block;
    height: 30px;
    /* position: absolute;
    left: 29%;
    bottom: 5px; */
    border-radius: 2%;
    font-family: 'Duru Sans', sans-serif;
}

.home-login-button {
    font-size: 16px;
    display: inline-block;
    margin-left: 10px;
    height: 30px;
    width: 128px;
    /* position: absolute;
    left: 29%;
    bottom: 5px; */
    border-radius: 2%;
    font-family: 'Duru Sans', sans-serif;
}

.button-container {
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 100%;
}

.home-banner {
    height: 200px;
    background-color: brown;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    animation: home-banner 3s forwards;
}


.home-banner-text {
    display: block; 
    font-size: 60px;
    font-family: 'Hammersmith One', sans-serif;
    animation: home-banner-text-text 4s forwards;
}


.banner-text-container {
    margin-top: 75px;
    display: inline-block;
    animation: home-banner-text 3s forwards;
}

@keyframes home-banner-text-text {
    0%   {
        opacity: 0;
        /* font-size: 30px;  */
    }
    100% {
        opacity: 1;
        /* font-size: 60px; */
    }
}

@keyframes home-banner-text {
    0%   {
        opacity: 0;
        font-size: 30px;
        margin-top: 0px; 
    }
    100% {
        opacity: 1;
        font-size: 60px;
        margin-top: 75px;
    }
}

@keyframes home-banner {
    0%   {
        height: 75px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }
    100% {
        height: 200px;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%; 
    }
}

.all-bands-list-item {
    font-size: 22px;
    list-style: none;
    margin-top: 8px;
}

.all-bands-list-item span{
    color: rgb(248, 87, 58);
    cursor: pointer;
}

.all-bands-list-item {
    transition: color 1s;
}

.all-bands-list-item a:link {
    text-decoration: none;
}

.all-bands-list-item a:visited{
    text-decoration: none;
    color: rgb(248, 87, 58);
}

.all-bands-list-item:hover {
    color: white;
    
}

.all-bands-list-item a:active {
    text-decoration: underline;
}
 
.all-bands-list {
    padding-left: 0;
    /* background-color: black; */
    
}

.the-bands {
    font-family: 'Duru Sans', sans-serif;
    font-size: 20px;
    border-bottom: solid white 2px;
    transition: border-bottom-color 1s, width 1s;
    /* transition: width 1s; */
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

.the-venues {
    font-family: 'Duru Sans', sans-serif;
    font-size: 20px;
    border-bottom: solid white 2px;
    transition: border-bottom-color 1s, width 1s;
    /* transition: width 1s; */
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

@media only screen and (max-width: 700px) {
    .home-banner-text {
        font-size: 50px;
    }

    .home-banner {
        height: 100px;
        
    }

    .banner-text-container {
        margin-top: 25px;
    }
    
}

@media only screen and (max-width: 500px) {
    .band-list {
        width: 265px;
    }
    .register-band {
        width: 265px;
    }

    .home-banner {
        height: 80px;
        
    }

    .home-banner-text {
        font-size: 32px;
    }

    .home-home {
        margin-top: 0px;
    }

    .the-bands {
        width: 50%;
    }

    .all-bands-list-item {
        font-size: 20px;
        
    }

    .home-login-button {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 5px;
    
    }
    
}
