.home {
    text-align: center;
    max-width: 1500px;
    min-width: 290px;
    margin-left: auto;
    margin-right: auto;
    border: solid black 2px;
    position: relative;
    background-color: lightgrey;
    height: 100%;
}

main {
    text-align: center;
    width: 100%;
}

#main {
    height: 100%;
}


@media only screen and (max-width: 500px) {
    #main {
        height: 75%
    }

    .home {
        border: none;
    }
}
