form {
    color: black;
    background-color: gray;
    padding: 4px;
    text-align: center;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

input {
    margin-bottom: 5px;
}