
.bottom-navList {
    overflow: hidden;
    list-style: none;
    width: 100%;
    min-width: 300px;
    padding-left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    
}

/* The navigation bar */
.bottom-nav {
    overflow: auto;
    white-space: nowrap;
    background-color: #333;
    position: absolute; /* Set the navbar to fixed position */
    bottom: 0px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 55px;
    font-family: 'Righteous', cursive;
    font-size: 20px;
}

/* Links inside the navbar */
.bottom-nav-li {
    /* float: left; */
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    border-right: 2px solid white;
    cursor: pointer;
}

.bottom-nav-first-child {
    border-left: 2px solid white;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    border-right: 2px solid white;
    cursor: pointer;
}

.bottom-nav a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.inline-div {
    display: inline-block
}

@media only screen and (max-width: 500px) {
    .bottom-nav {
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
        
    }

    
} 